*{
    margin: 0%;
    padding: 0%;
}

/*//Banner (skriv efter 2 rader)*/


.banner{
    background-color: black;
    height: 35vh;
    width: 100vw;
    border: 5px inset blue;
    background-image: url("bilder/MfeChu.png");

}

/*Teaser (skriv efter 2 rader)*/


.teaser{
    height: 400px;
    border: 5px inset red;
    background-color: rgb(212, 175, 126);
    width: 100vw;

}

#högerbild{
    height: 50%;
    width: 20%;
    background-color: lightblue;
    float:left;
    margin-left: 5%;
    margin-top: 5%;
}

#mittbild{
    height: 60%;
    width: 30%;
    background-color: aqua;
    float: left;
    margin-left: 5%;
    margin-top: 4%;
}

#väsnterbild{
    height: 50%;
    width: 20%;
    background-color:blue;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}

/*Gallery (skriv efter 2 rader)*/


.gallery{
    height: 100vh;
    width: 100vw;
    border: 5px inset green;
    background-color: rgb(212, 175, 126);

}

/*Navbar (skriv efter 2 rader)*/


nav{
    padding-top: 1%;
    height:35vh;
    width:auto;
}
