*{
    margin: 0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width:100%;
    
}

/*Banner (skriv efter 2 rader)*/


.banner{
    background-color: black;
    height: 35vh;
    width: auto;
    border: 5px inset blue;

}

/*Teaser (skriv efter 2 rader)*/


.teaser{
    height: 55vh;
    border: 5px inset red;
    background-color: rgb(122, 175, 126);
    width: auto;
    text-align: center;

}

#högerbild{
    height: 25vh;
    width: 25vw;
    filter: blur(1px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  float: left;
  margin-top: 10.5vh;
  margin-left: 2vw;
  border: black 5px solid;
}

#vänsterbild{
    height: 25vh;
    width: 25vw;
    filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  float: left;
  margin-left: 2vw;
  margin-top: 10.5vh;
  border: black 5px solid;
}

#mittbild{
    height: 30vh;
    width: 28vw;
    float: left;
    margin-top: 8vh;
    margin-left: 2vw;
    border: black 5px solid;
    border-radius: 5%;
}

#vbild{
    height:100%;
    width:100%;
}

#hbild{
    height:100%;
    width:100%;
}

#mbild{
    height:100%;
    width:100%;
    border-radius: 5%;
}


#högerknapp{
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-size: 30px;
    float: right;
    margin-top: 9.8%;
    margin-right: 2%;
}



#vänsterknapp{
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-size: 30px;
    float: left;
    margin-left: 2%;
    margin-top: 9.8%;
}



/*Gallery (skriv efter 2 rader)*/


#dankmemes-index{
    background-color: blue;
    height: 100px;
    width: 100px;
}

.gallery{
    height: 100vh;
    width: auto;
    border: 5px inset green;
    background-color: rgb(212, 175, 126);

}

/*Navbar (skriv efter 2 rader)*/


nav{
    padding-top: 1%;
    height:35vh;
    width:auto;
}

/*Rickroll div*/

#rickroll{
    width:100vw;
    height:65vh;
    background-color: burlywood;
}

/*About us page stuff*/

.aboutUsImage{
    height:50vh;
    width:50vw;
    margin-top: 15px;
    border-radius: 25%;
    background-color: coral;
}

.AboutUsThing>p{
    margin-top: 10px;
    text-align: center;
}


/*Om Oss sida (Skriv efter 2 rader)*/


.OmOss{
    background-color: rgb(212, 175, 126);
}

/* Categorier */

#mapMemes{
    margin-left: 100px;
    margin-top: 50px;
    width: 15vw;
    height: 15vh;
}

#Meme-gallery{
    background-color: aquamarine;
}

#Meme-gallery>img{
    margin: 15px;
}

#OmOss>img{
    margin-top: 20px;
}